---
import PostTag from './PostTag.astro';
import { formatDate } from '../utils/index.ts';

export interface Props {
  post: {
    id: string;
    data: {
      title: string;
      date: Date;
      tags?: string[];
    };
  };
}

const { post } = Astro.props;
const url = `/posts/${post.id}`;
---

<style>
    h2 {
        margin:0;
    }
    li {
        list-style: none;
        display: flex;
        align-items: baseline;
        padding: .25rem 0;
    }
    a {
        color: var(--ctp-text);
        font-weight: 700;
    }
    a:hover {
        color: var(--ctp-blue);
    }
    .date {
        padding: 0 .5rem 0 1rem;
        font-size: .825rem;
        text-transform: uppercase;
        color: var(--ctp-subtext0);
    }
</style>

<li>
    <a href={url}>{post.data.title}</a>
    <span class="date">{formatDate(post.data.date)}</span>
    {post.data.tags?.map((tag) => {
        return (
            <PostTag>{tag}</PostTag>
        );
    })}
</li>